{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }],
    "@babel/preset-typescript",
    ["@babel/preset-react", {
      "runtime": "automatic"
    }],
    "@linaria"
  ],
  "ignore": ["**/*.stories.tsx"],
  "plugins": ["@babel/plugin-transform-runtime"]
}