.spinner {
  transform-origin: center;
  animation: rotate 1.4s linear infinite;
  width: 24px;
  height: 24px;

  &__apple {
    animation-timing-function: steps(8);
  }
}

@media (prefers-reduced-motion) {
  .spinner {
    animation: rotate 10s linear infinite;

    &__apple {
      animation-timing-function: steps(8);
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
