@import '~mixins';

.root {
  border-radius: 7px;
  color: #fff;

  &__apple {
    width: 30px;
    height: 30px;
  }

  &__material {
    width: 28px;
    height: 28px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.skeleton {
  @include skeleton;
}
