.root {
  font-family: Roboto, system-ui, sans-serif;
}

.headline5 {
  --skeleton-height: 22px;

  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.headline6 {
  --skeleton-height: 18px;

  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.headline7 {
  --skeleton-height: 14px;

  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
}

.body {
  --skeleton-height: 12px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.subtitle1 {
  --skeleton-height: 12px;

  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.button1 {
  --skeleton-height: 12px;

  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}

.subtitle2 {
  --skeleton-height: 10px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.button2 {
  --skeleton-height: 10px;

  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
}

.caption1 {
  --skeleton-height: 10px;

  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.caption2 {
  --skeleton-height: 8px;

  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.mono {
  font-family: monospace;
}
