.root {
  position: relative;
}

.skeleton {
  inset-inline-start: 0;
  top: 0;
  width: 100%;
}

.content {
  position: relative;
}

.fadeExit {
  position: absolute;
  opacity: 1;
  transition: opacity 600ms cubic-bezier(0.33, 0, 0, 1);
}

.fadeExitActive {
  opacity: 0;
}
